.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root input,
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root label,
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root button,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root *,
.css-p0rm37,
.css-vubbuv,
.css-1uvydh2,
.css-1ald77x,
.css-1x5jdmq {
    color: white !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.css-i44wyl,
.css-1bn53lx {
    border: 1px solid #515151 !important;
}

.MuiDateCalendar-root.css-cwhad8-MuiDateCalendar-root {
    margin: 0;
}

.reserved-time {
    color: gray;
    font-style: italic;
    cursor: not-allowed;
}

.css-1mtsuo7 {
    width: min(262px);
}

.css-5ikgf7 {
    width: 100%;
}

.MuiPickersPopper-root.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root.MuiPopper-root {
    height: 350px;
}

.css-1ed1o9w-MuiList-root-MuiMultiSectionDigitalClockSection-root,
.css-bmoxj4-MuiList-root-MuiMultiSectionDigitalClockSection-root {
    max-height: max-content !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper.css-71vzt-MuiPaper-root-MuiPickersPopper-paper,
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper.css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper {
    width: max-content !important;
}

.MuiMultiSectionDigitalClock-root.css-1dleds2-MuiMultiSectionDigitalClock-root ul,
.css-1dleds2-MuiMultiSectionDigitalClock-root {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    overflow: unset;
}

.css-bmoxj4-MuiList-root-MuiMultiSectionDigitalClockSection-root:hover {
    overflow: unset !important;
}