.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root input,
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root label,
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root button,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root *,
.css-p0rm37,
.css-vubbuv,
.css-1uvydh2,
.css-1ald77x {
    color: white !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.css-i44wyl,
.css-1bn53lx {
    border: 1px solid #515151 !important;
}

.MuiDateCalendar-root.css-cwhad8-MuiDateCalendar-root {
    margin: 0;
}

.reserved-time {
    color: gray;
    font-style: italic;
    cursor: not-allowed;
}

.css-1mtsuo7 {
    width: min(262px);
}

.css-5ikgf7 {
    width: 100%;
}